@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background-image:url(nature-319.jpg);
	background-size:cover;
	}
ul{
	margin:0px;
	padding:0px;
	margin-left:230px;
	list-style:none;
	height:80px;
	
	
	}
ul li{
	float:left;
	padding:30px;
	font-size:34px;
	line-height:20px;
	background-color:#F00;
	color:#FFF;
	border-left:#096 1px solid;
	
	}
ul li:hover{
	cursor:pointer;
	color:#F00;
	background-color:#FFF;
	}
